*{ margin:0; padding: 0; box-sizing: border-box;}
*:focus{outline: none;}
.clearfix:before,
.clearfix:after {content: '\0020';display: block;overflow: hidden;visibility: hidden;width: 0;height: 0}
.clearfix:after {clear: both}
.clearfix {zoom: 1}
html{height: 100%}
body{-webkit-text-size-adjust:100%;font-family: 'Lato', sans-serif, arial; font-weight: 400; font-size:18px;color: #ffffff;  }
li{list-style: none;}
a{text-decoration: none; outline: none}
a:hover{cursor: pointer}
img{border: none; width: auto;height: auto; max-width: 100%}
select,
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
     outline: 0;
     background: none;
     border: 0;
} 
button { border: 0; cursor: pointer; }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffffff;
}
select:-webkit-autofill, input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

/********common css******/
.fl{float: left;}
.fr{float: right}
.txt-left{text-align: left}
.txt-right{text-align: right}
.txt-center{text-align: center}
.txt-uppercase{text-transform: uppercase;}

.headH1{color: #fff; font-size: 60px;font-weight: 900}
.headH1 span{font-weight: 400}
.headH2{color: #1b1d24;font-weight: 900;font-size: 36px;}
.headH2 span{font-weight: 400}  
.headH6{color: #1b1d24;font-size: 18px}
.width100{width: 100%}
.txtcopy{font-size: 14px;line-height: 20px;color: #1b1d24}


.btnPrimary{background: #e32b45;padding: 15px 20px;color: #ffffff;display: inline-block; text-transform: uppercase;}
/*******************/


.container{width: 1168px; margin:0 auto;position: relative;}
.containerMd{width: 1090px;margin: 0 auto}

.dropdownMenu{width: 100%;top:-194px;position: absolute; display: none; z-index: 1}

.hidden{display: none;}
.showDiv{-webkit-transition: all 2s ease ; transition: all 2s ease ;display: none;}

/*********common css***********/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 30.75%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {float: left; padding: 0 15px; }
.row::after {content: "";clear: both; display: table;}

/***button css***/
.btn-black { background: #1b1d24; color: #fff; font-weight: 700; font-size: 20px; padding: 15px 35px;}
.btn-red { background: #e32b45; padding: 10px 20px; color: #fff }

/*******margins****/
.marg-t-20 { margin-top: 42px }
.pad-0 { padding: 0; }
/**********/


/*----- video css start --------*/
.videoWrap{padding:80px 0;}
.videoWrap.pad-t-0 { padding: 0 0 80px }
.videoWrap .headH2{margin-bottom: 30px}
.videoWrap .videoCnt .videoBlock{width: 375px; height: auto;display: inline-block;
margin: 20px 20px 0 0;color: #606060;}
.videoWrap .videoCnt .alb_item.mgRightNone{margin-right: none}
.videoWrap .videoCnt .videoBlock .videoTitle{font-size: 18px;margin-top: 20px;font-weight: 700 }
.videoWrap .videoCnt .videoBlock .videoDate{font-size: 14px; }

/*----- video css end --------*/

/***************/

/*---------------header css start-------------------*/
.headWrap{background: #fff; width: 100%;z-index: 2; position: relative;}
.headWrap .header .logo img{display: block;margin-top: 18px}
.headWrap .header li{float: left;position: relative;}
.headWrap .header li a{color:#1b1d24; font-size: 19px;text-transform: uppercase;font-weight: 700;display: block;padding:43px 25px;}
.navigation { position: relative; z-index: 1 }
.headWrap .dropdown .arrowup {width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent; border-bottom: 6px solid #3b2f43;margin: 0 auto;}

.registerWrap{background: #374785;padding: 55px 0;}
.registerWrap .registerContainer{ width: 570px; margin:0 auto; }
.registerWrap .registerContainer .headH5{margin-bottom: 25px;color: #fff;font-size: 18px; font-weight: 900; text-transform: uppercase;}
.registerWrap .registerContainer .mgtb{margin:13px 0 20px;}
.registerWrap .registerContainer .mg15{margin-top: 15px}
.registerWrap .registerContainer .txtCopy{font-size: 14px;font-weight: 300 }
.registerWrap .registerContainer .openLink{color: #91b5d3;margin-left: 5px; text-decoration: underline;font-size: 14px}
.registerWrap .registerContainer .btnSign{text-transform:uppercase;padding: 20px;background: #1b1d24 ;font-weight: 700;color: #fff;padding: 12px 32px}
.registerWrap .registerContainer .socialLogin{width: 200px}
.registerWrap .registerContainer .socialLogin .loginbtn{color: #fff;font-size: 14px; width: 100%;height: 30px;font-weight: 700;margin-bottom: 8px;}
.registerWrap .registerContainer .socialLogin .fbLogin{background: #496fb2 url(../images/regifb.png) no-repeat 16px center;}
.registerWrap .registerContainer .socialLogin .twitLogin{background: #70a7d5 url(../images/regitwit.png) no-repeat 12px center;}
.registerWrap .registerContainer .socialLogin .gPlusLogin{background: #ef5b49 url(../images/regiplus.png) no-repeat 12px center;}
.registerWrap .registerContainer .socialLogin .mgTop{margin-top:35px }
.registerWrap .registerContainer .dividerBlock{width: 40px;position: relative;margin: 0 0 0 20px}
.registerWrap .registerContainer .dividerBlock .divider{width: 1px; background: #8db1d0; margin:0 auto;}
.registerWrap .registerContainer .dividerBlock .txt{color: #a8d1e7; font-size:14px; font-weight: 900;background: #374785;padding: 7px;left: 3px;top: 50%;position: absolute;margin-top: -12px;  }


.registerWrap .registerContainer .emailLogin{width: 290px}
.registerWrap .registerContainer .emailLogin .inputy{width: 91%;border:1px solid #fff;font-size:14px; color: #fff;height: 30px; line-height: 30px;background: none;margin-bottom: 8px;padding: 0 4%}
.registerWrap .registerContainer .emailLogin .check{position: relative;top:2px;margin-right: 4px}

.registerWrap .signIn.registerContainer .dividerBlock .txt{margin-top: -21px;}
/*---------------header css end-------------------*/

/*.homeBaner{background: url(../images/homemainbg.jpg) no-repeat top center; height: 100vh; background-size: cover}*/

.joinDud{background: #1b1d24; text-transform: uppercase;padding: 90px 0;}
.jNow{font-size: 20px;color: #fff;background: #e32b45;width: 190px;height: 50px;line-height: 50px; 
  margin: 35px auto 0;display: block;font-weight: 700}


/*-----sameer------*/
  /******tour******/
  .heading_h1 { color: #1b1d24; font-weight: 900; font-size: 36px; text-align: center;}
  .homeBaner.tourpanel { background: #edf0f3; padding: 69px 0 0 }
  .tourmap { background: url(../images/2018map.png) no-repeat 0 0; height: 722px; background-size: 100% }
  .contest{background: url(../images/contestbg.jpg) no-repeat center;}
  .whitecolor { color: #fff }
  .judgespanel { background: #9ec1dd; padding: 120px 0}
  .judgecol li { width:31%; margin-right: 30px; float: left;}
  .judgecol li:last-child { margin-right:0; }
  .judgecol li .colj {background: #1a1d24;  height: 340px; float: left; position: relative; width: 100% }
  .judgname {padding: 10px 0px 10px 10px; font-size: 22px; font-weight: 900; font-style: italic; color: #fff;
    border-right: 50px solid transparent; border-bottom: 70px solid #e32b45; width: 80%;position: absolute;
    bottom: 0;}
      .judgname > span { position: absolute; top: 44px; left: 32px;}
  /************/

  /******homepage***/
  .slider1 {background: url(../images/homemainbg.jpg) no-repeat top center; height: 100vh; background-size: cover  }

  /*--blog--*/
  .tabpanel { margin-top: 15px }
  .tablist { float: left; margin-top: 0px}
  .tablist li { display: inline-block; padding: 0 10px 0 0;}
  .tablist li a { font-weight: 400; font-size: 18px; margin-right: 30px; text-transform: uppercase; color: #1b1d24;transition: .5s ease all}
  .tablist li a:hover, .tablist li a.active { border-bottom: 1px solid #000; padding-bottom: 5px  }
  .crsl-items{margin: 30px auto;}
  .crsl-item figcaption{    position: absolute;bottom: 4px;left: 0; width: 98.9%; padding: 10px;color: #FFF;
    background: rgba(20,22,29,.5); padding:20px; color: #6d6d6e; font-size: 14px; font-weight: 700}
  .blogmsg { display: block; text-transform: uppercase; color: #fff; font-size: 18px; margin-bottom: 10px }
  .crsl-nav{position: relative;min-height: 1px;display: block!important; margin-right: 7px; float: right;    margin-bottom: 13px;}
  .crsl-nav .previous, .crsl-nav .next{float: right; background: url(../images/prev.jpg) no-repeat 0; text-indent: -70px;
    overflow: hidden; width: 32px; height: 33px;}
  .crsl-nav .next{float: right; background: url(../images/prev.jpg) no-repeat 0;  border-right: 1px solid black;  
     transform: rotate(180deg); }
  .advbg { background: url(../images/adbg1.jpg) no-repeat 0 0; background-size: cover; }
  .pad-tb-20 { padding: 64px 0}
  .bgGray { background: #b0b1b7; }
  .heading_h5, .heading_h6 {font-size: 18px; color: #1b1d24; font-weight: 700; text-transform: uppercase;}
    .heading_h6 { font-size: 14px; margin-top: 6px;}
    .newscopy { font-size: 14px;font-weight: 400; color: #1b1d24; margin-top: 19px; line-height: 20px}
    .blogrow .col-4 { width: 33.32%;}
    .relatedarticles { margin-top: 35px }
    .relatedarticles .col-4 {width: 33.30%; padding-left: 0!important; padding-right: 24px}
    .relatedarticles figcaption { margin-top: 20px }
    .relatedarticles .heading_h6 { color: #9e9e9e }


/*******article page***/

.articlepanel { margin-top: 25px;}
.leftpanel {  width: 768px; float: left; }
.rightpanel { float: right; width: 370px; }
  .articlepage {margin:50px 0; }
  .heading-h1 {text-transform: uppercase;line-height: 38px; font-size: 36px; font-weight: 900;  color:#1b1d24;  }
  .date { font-size: 18px; color: #ababab; font-weight: 700;line-height: 18px;margin-top: 10px;}
  .articlecopy { font-size: 14px; font-weight: 400; color: #1b1d24; line-height: 21px; margin: 35px 0; }
  .articlevideo { width: 100%; margin: 50px 0}
  .articleall { margin: 15px 0 45px; }
  .arelatehead { color: #1b1d24; font-weight: 900; font-size: 36px;  }
  .blackhr { width: 100%; border-bottom: 1px solid #1b1d24; margin: 15px 0 }
  .emailsubpanel { width: 100%; background: #1b1d24; padding:25px; }
   .emailsubpanel .heading_h5 { color: #fff }
   .emailsubpanel .articlecopy { color: #fff; margin: 20px 0}
   .esubfield {width: 91%;  border: 1px solid #fff; font-size: 14px; color: #fff; line-height: 36px;
    background: none; margin-bottom: 8px; padding: 0 4%;margin: 5px 0 30px;}
    .newslist {margin-top: 25px}
    .listtab li a { background: #374785; padding: 14px 0px; float: left; color: #fff; width:123px; font-size: 16px;
    text-align: center; transition: .5s ease all; font-weight: 400}
    .listtab li a:hover { background: #1b1d24 }
    .listtab li.active a  { background: #edf0f3; color: #1b1d24; }
    .newslistpanel { background: #edf0f3; padding: 20px 28px;; width: 100%}
    .trendingnewlist li { width: 100%; margin-bottom: 30px;  }
    .trendingnewlist li:last-child { margin-bottom: 0 }
    .trendingnewlist li .heading_h5 { margin-top: 10px }
    .socialpanel { margin-top: 35px; }
    .socialpanel .arelatehead { font-size: 18px; font-weight: 700; }
    .facebooklogo { background: url(../images/facebookicon.png) no-repeat  0 0; width: 19px; height: 27px; display: inline-block;
    margin-right: 20px; }
    .instagram { background: url(../images/instagramicon.png) no-repeat  0 0; width: 26px; height: 27px; 
      display: inline-block;  margin-right: 20px; }
    .twitter {background: url(../images/twittericon.png) no-repeat  0 0; width: 29px; height: 27px; display: inline-block;
    margin-right: 20px; }
    .youtube {background: url(../images/youtubeicon.png) no-repeat  0 0; width: 32px; height: 27px; display: inline-block;
    margin-right: 20px; }
    .instagrampanel { margin-top: 35px }
    .socialicon a { display: inline-block; margin-right: 9px }
    .socialicon a.last { margin-right: 0 }
    .footerwithtxt { margin-top:55px }
    .datetxt { color: #ababab }
  
/***********/
    

/*-----end sameer------*/

/*----- about us css start -------*/

.abtVideoWrap{height: 100vh;background: url(../images/abtmainbg.jpg)  no-repeat  center/cover;position: relative;width: 100%;display: table;}
.abtVideoWrap .abtVideo {height: 100vh;display: table-cell;vertical-align: middle; width: 100%;}
.abtVideoWrap .txtBlock{width: 316px;margin-right: 60px;}
.abtVideoWrap .txtBlock .vTitle{font-size: 36px;margin-bottom: 55px}
.abtVideoWrap .txtBlock p{font-size: 14px;line-height: 20px}
.abtVideoWrap .videoBlock{width: 767px}

.abtWrap .colhalf{width: 46%; font-size: 14px; }
.abtWrap .colhalf p{ line-height: 21px}
/*------ visionBlock start ----------*/
.visionWrap{color: #1b1d24;padding-bottom: 100px}
.visionWrap .headH2{margin-bottom:100px;}
.visionWrap .headH6{margin-bottom: 20px}

/*------- visionBlock end --------------*/

/*------ ourTeam start ----------*/
.ourTeam .teamMember {margin-top: 50px}
.ourTeam .teamMember li{display:inline-block;width: 12.5%; margin-left: 6%;}
.ourTeam .teamMember li:first-child{margin-left: 0}
.ourTeam .teamMember li .designation{color: #1b1d24;text-align: center;margin-top: 20px}
/*------- ourTeam end --------------*/

/*------- sponserUs end --------------*/
.sponserUs{background: url(../images/sponserBg.jpg) no-repeat center;}
.sponserUs .headH2{color: #ffffff}
.sponserUs .sponserBtn{text-transform: uppercase;background: #374785;color: #ffffff;font-size: 20px;padding: 10px 30px ;display: inline-block;}
/*------- sponserUs end --------------*/

/*----- Numbers css start ---------*/
.dudNumbers .bg1{background: #374785}
.dudNumbers .bg2{background: #e32b45}
.dudNumbers .bg3{background: #a8d1e7}
.dudNumbers .numBoxWrap{width: 192px;height: 192px;display: table;}
.dudNumbers .numWrap{display: table-cell;vertical-align: middle;}
.dudNumbers .numWrap .headH2, .dudNumbers .numWrap p{color: #ffffff;}
.dudNumbers .dudNumList li{width: 16.5%;display: inline-block;margin-left: 4%}
.dudNumbers .dudNumList li:first-child{margin-left: 0}
.dudNumbers .dudNumList .titleTxt{text-transform: uppercase;color: #1b1d24;margin: 35px 0 15px;font-weight: bold;}
/*----- Numbers css end ---------*/

.season2{background: url(../images/season2bg.jpg) no-repeat center;}
/*---------- about us css end ------------*/





/*---------------footer css start-------------------*/
.footerWrap{background: #374785;padding: 60px 0}
.footerWrap .footerLogo{margin-right: 115px}
.footerWrap .footerLogo img{display: block;}
.footerWrap .headH6{color: #fff; font-size: 18px; text-transform: uppercase;margin: 30px 0}
.footerWrap .social .socialIcon{margin: 0 25px 0 0}
.footerWrap .social .fb{background: url(../images/fb.png) no-repeat  center;width: 13px; height: 27px; float: left;}
.footerWrap .social .insta{background: url(../images/insta.png) no-repeat  center;width: 26px; height: 27px;float: left;}
.footerWrap .social .twit{background: url(../images/twit.png) no-repeat  center;width: 26px; height: 27px;float: left;}
.footerWrap .social .yt{background: url(../images/yt.png) no-repeat  center;width:33px; height: 27px;float: left;}
.footerWrap .instaUpdates .inUpdate{background: #d4d4d4; width: 113px;height: 113px; margin-right: 18px}
.footerWrap .instaUpdates .inUpdate:last-child{margin-right: 0}

.btmFooter{background: #1b1d24;padding: 50px 0}
.btmFooter a{font-size: 14px; color: #fff; margin-right: 50px}

/*---------------footer css end-------------------*/

/******common margin padding*****/
.mgZero{margin:0 !important }
.paddTopBtm {padding: 100px 0}
.pad-55 { padding: 15px 55px}
.padd-tb-50 {margin: 50px 0}
.mgTop100{margin-top: 100px}
.mgBtm50{margin-bottom: 50px}
.mgTop50{margin-top: 50px}
.marg-tb-50 {margin: 50px 0}